$colors-gray: '#ECECEC';
$colors-green: '#6AC5AC';
$colors-light-green: '#96C02E';
$colors-dark: '#414142';
$colors-red: '#D64078';
$colors-dark-red: '#734161';
$colors-blue: '#0000FF';
$colors-white: '#FFFFFF';
$colors-white-smoke: '#eee';
$colors-yellow: '#FDC72F';
